h2 {
    font-size: 16px;
    font-weight: 600;
    color: #7A9B67;
}
h4 {
    font-size: 14px;
    font-weight: 400;
}
h5 {
    font-size: 10px;
    font-weight: 400;
}
body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}
.user img {
    position: absolute;
    top: 15px;
    right: 15px;
}
.user h2 {
    color: black;
}
.search {
    height: 50px;
    width: 349px;
    background-color: white;
    box-shadow: 0px 5px 16px #dbdbdb;
    border-radius: 8px;
    text-align: left;
    flex-direction: row;
    padding-left: 20px;
}
.search_icon, .search_text {
    display: inline-block;
}
.search_text {
    padding-left: 10px;
}
.search_text p {
    color: #afafaf
}
.card {
    width: 160px;
    height: 188px;
    padding: 10px;
    background: white;
    box-shadow: 0px 5px 10px #dbdbdb;
    border-radius: 16px;
    text-align: center;
    position: relative;
}
.card h5 {
    font-weight: 600;
}
.container {
    width: 393px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.catSeeAll {
    display: flex;
    justify-content: space-between;
}
.topCategories h4 {
    font-weight: 600;
    color: #7A9B67;
}
.categories {
    display: flex;
    justify-content: space-around;
    color: #7A9B67;
}
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    padding-top: 40px;
    box-shadow: 0px -21px 20px -20px #dbdbdb;
    height: 50px;
}
.item {
    text-align: center;
}
.sizePrice h5 {
    font-weight: 400;
    margin: 20px;
}
.price {
    position: absolute;
    bottom: 0;
    right: 0;
}
.size {
    position: absolute;
    bottom: 0;
    left: 0;
}
.heart {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}
.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}
.info {
    padding-left: 30px;
}
.info h4 {
    font-weight: 600;
    margin: 0;
}
.info p {
    color: #a3a3a3;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.recommended {
    padding-bottom: 50px;
}